@model List<DemoWebApp.ViewModel.ReportViewModel>

@{
    ViewData["Title"] = "Report";
}

<form asp-action="Index">
    <div class="container">
        <div class="row input-group">
            <input type="text" id="searchBox" name="searchString" placeholder="Enter your keyword" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
        </div>
        <div class="row p-2">
            <div class="form-group">
                <label>From</label>
                <input type="date" name="fromDate" placeholder="@DateTime.Today" />
            </div>
            <div class="form-group">
                <label>To</label>
                <input type="date" name="toDate" placeholder="@DateTime.Today" />
            </div>
        </div>
    </div>
</form>
@if (Model != null)
{
    @if (Model.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Batch No
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Purchase Date
                    </th>
                    <th>
                        Buyer Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @(item.BatchNo)
                    </td>
                    <td>
                        @(item.Quantity)
                    </td>
                    <td>
                        @(item.PurchaseDate.ToShortDateString())
                    </td>
                    <td>
                        @(item.BuyerName)
                    </td>
                </tr>
                }
    
               
            </tbody>
        </table>
    }
    else
    {
        <p>
            No Sales Found For this medicine
        </p>
    }
}
else
{
    <p>
        search for medicine to show its report
    </p>
}
    @section Scripts {

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/jquery-ui.js"></script>
        <script>
            $(document).ready(function () {
                $("#searchBox").autocomplete({
                    source: 'api/SalesApi/Search'
                });
            });
        </script>

    }