@model IEnumerable<DemoWebApp.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" class="input-group mb-3">
    <input type="text" id="searchBox" name="searchString" placeholder="Enter your keyword" />
    <div class="input-group-append">
        <button id="SearchBtn" class="btn btn-outline-dark">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @*@foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuyerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicineDetails.BatchNo)
                        </td>
                    </tr>
            }*@
    </tbody>
</table>
@section Scripts {

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBox").autocomplete({
                source: 'api/SalesApi/Search'
            });
        });
    </script>
    
}