@model DemoWebApp.Models.Medicine

@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Sales" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" id="searchBox" name="searchString" placeholder="Enter your keyword" />
        <div class="input-group-append">
            <button type="submit">Search</button>
        </div>
    </div>
</form>

@if (Model != null)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenericName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenericName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Unit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Unit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Place)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Place)
            </dd>
        </dl>
    </div>

    if (Model.MedicineDetails.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Batch No</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Manufracture Date</th>
                    <th>Expiry Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicineDetails in Model.MedicineDetails)
                {
                    <tr>
                        <td>@medicineDetails.BatchNo</td>
                        <td>@medicineDetails.Quantity</td>
                        <td>@medicineDetails.Rate</td>
                        <td>@medicineDetails.ManufactureDate.ToString("yyyy/MM/dd")</td>
                        <td>@medicineDetails.ExpiryDate.ToString("yyyy/MM/dd")</td>
                        <td>
                            <a class="col-sm-auto btn btn-link" asp-action="Enter" asp-route-id="@medicineDetails.Id">Enter</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>
        No Medicne Found
    </p>
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBox").autocomplete({
                source: 'api/SalesApi/Search'
            });
        });
    </script>
}
